.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

#delete-form{
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.code {
    display: inline;
    padding: 0.5%;
    border-radius: 5px;
    font-family: Courier New, monospace;
    background-color: 	#e9eaeb
}